[Desktop Entry]
Type=Application
Name=Back up home folder to another drive
Icon=drive-harddisk
Comment=Save your home folder to another drive
Exec=tinyhat-backup
Terminal=false
Categories=System;Settings;
