[Desktop Entry]
Type=Application
Name=Keyboard layout
Icon=input-keyboard
Comment=Choose the keyboard layout for the desktop and the console
Exec=tinyhat-keyboard
Terminal=false
Categories=Settings;
