[Desktop Entry]
Type=Application
Name=Bluetooth
Icon=bluetooth
Comment=Connect Bluetooth mice, keyboards and gamepads
Exec=tinyhat-bluetui
Terminal=false
Categories=Settings;HardwareSettings;
