[Desktop Entry]
Type=Application
Name=C programming book
Icon=accessories-dictionary
Comment=Beej's Guide to C Programming
Exec=netsurf-gtk3 file:///usr/share/tinyhat/c-guide/bgc/index.html
Terminal=false
Categories=Development;
