[Desktop Entry]
Type=Application
Name=Beneath a Steel Sky
Icon=applications-games
Comment=Science fiction adventure game, played in ScummVM
Exec=tinyhat-launch tinyhat-game bass
Terminal=false
Categories=Game;AdventureGame;
