[Desktop Entry]
Type=Application
Name=Update the ScummVM list of games by searching
Icon=system-search
Comment=Scan all drives for ScummVM games again
Exec=tinyhat-scan-games -f
Terminal=false
Categories=Game;
