[Desktop Entry]
Type=Application
Name=Fennel and LÖVE programming
Icon=applications-games
Comment=Write a game in Fennel, a Lisp, with the LÖVE engine
Exec=tinyhat-fennel
Terminal=false
Categories=Development;
